$bg-sub-color: #15141a!default;
$text-footer-color: #444348!default;
$text-color: #999999!default;
$accent-color-dark: #006192!default;
$accent-color: #008ed6!default;
$h-color: #1a1a1a!default;

$padding-block: 50px 0;
$transition: 0.2s all linear;