doctype html
html(lang="en")
    head
        include modules/_head.pug

    body
        //- header
        include modules/_header.pug

        //- main
        main
            include modules/_list-features.pug
            include modules/_list-features-article.pug
            include modules/_reviews.pug
            include modules/_features.pug
            include modules/_pricing.pug
            include modules/_contact.pug




        //- footer
        include modules/_footer.pug

        //- scripts
        include modules/_scripts.pug