.footer {
    background-color: $bg-sub-color;
    padding: $padding-block;
    .footer__social-links {
        display: flex;
        justify-content: center;
    }
    ul.footer__social {
        list-style-type: none;
        display: flex;
        text-align: center;

        li.footer__link {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: $text-footer-color;
                font-size: 18px;
                @include transition;
                
                &:hover {
                    color: $accent-color;
                } 
            }
        }
    }

    .footer__copy {
        text-align: center;
        .footer__text {
            text-transform: uppercase;
            color: $text-footer-color;
        }
    }

}