.navbar {
    padding: 40px 0;

    .active {
        a.nav-link .lines {
            display: flex;

            div {
                margin-top: 5px;
            }
        }
    }
    
    li.nav-item {
        @include transition;

        .lines {
            display: none;
            gap: 0 2px;
            justify-content: center;

            div {
                width: 20px;
                height: 2px;
                background-color: $accent-color;

            }
        }

        a.nav-link {
            font-size: 16px;
            font-weight: 600;
            color: white;
            @include transition;

            &:hover {
                .lines {
                    display: flex;


                    div {
                        margin-top: 5px;
                    }
                }
            }
        }
    
    }
}