.pricing {
    padding: 60px 0;

    .pricing-header {
        @include headers-font;
    }
    
    .active-card .card {
        .card-header{
            h3{
                color: $accent-color;
            }
        }

        .card-body{
            background-color: $accent-color;
            color: white;
            
            .date,
            .price {
                color: white;
            }
        }


        .card-footer .btn-order{
            background-color: $accent-color;
            color: white;
            border: 1px solid $accent-color;
        }
    }

    .card {
        border: 1px solid #e0e0e0;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        @include transition;
        margin-bottom: 30px;
    

        &:hover {
            .card-header{
                h3{
                    color: $accent-color;
                }
            }

            .card-body{
                background-color: $accent-color;
                color: white;
                
                .date,
                .price {
                    color: white;
                }
            }


            .card-footer .btn-order{
                background-color: $accent-color;
                color: white;
                border: 1px solid $accent-color;
            }
        }


        .card-header {
            background-color: transparent;
            padding: 25px 12px;
            h3 {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                color: $h-color;
            }
        }



        .card-body {
            @include transition;
            p {
                line-height: 1;
            }
            .price {
                font-size: 60px;
                position: relative;
                margin-bottom: 0;
                color: $h-color;

                span {
                    font-size: 24px;
                    margin-top: 10px;
                    margin-left: -15px;
                    position: absolute;
                }
            }
            .date {
                color: $text-color;
            }
        }

        .card-footer {
            background-color: transparent;
            padding: 50px 35px 30px 35px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .btn-order {
                font-size: 14px;
                padding: 15px 40px;
                font-weight: bold;
                text-transform: uppercase;
                background-color: transparent;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border: 1px solid #e0e0e0;
                color: $accent-color;
                display: block;
                text-align: center;
            }
        }
    }


}