#contacts.contacts
    .container
        .contacts__inner
            .contacts-header.text-center.wow.slideInUp(data-wow-duration='2s')
                h4 stay in touch
                h2 Contact us
                .lines
                    div
                    div
            .row 
                .col-lg-4
                    .contact-card.wow.slideInUp(data-wow-duration='1s')
                        .contact-img
                            img.mb-3(src="img/features-list/Phone.png", alt="")
                        ul
                            li
                                | Phone: (415) 124-5678

                            li
                                | Fax: (412) 123-8290
                
                .col-lg-4
                    .contact-card.wow.slideInUp(data-wow-duration='1.5s')
                        .contact-img
                            img.mb-3(src="img/contacts/Pointer.png", alt="")
                        ul
                            li
                                | 1001 Brickell Bay Dr.
                            
                            li
                                | Suite 1900 
                            
                            li
                                | Miami, FL 33131

                .col-lg-4
                    .contact-card.wow.slideInUp(data-wow-duration='2s')
                        .contact-img
                            img.mb-3(src="img/contacts/Envelope.png", alt="")
                        ul
                            li
                                | support@yourname.com

        .contacts__form
            .col-lg-8
                .contacts-form
                    form
                        .row
                            .col-lg-6
                                .form-group
                                    input.form-control(type='text' placeholder='Name *')
                                .form-group
                                    input.form-control(type='email' placeholder='Email *')
                                .form-group
                                    input.form-control(type='text' placeholder='Subject *')
                            .col-lg-6
                                .form-group
                                    textarea.form-control(name="txtMsg" placeholder="Your Message *")
                                .form-group
                                    //- a.btn.btn-main(href="#") Send Message
                                    input.btn.btn-main(type="submit" name="btnSubmit" value="Send Message")



#map.map
