#features.features
    .container
        .features__inner
            .features__text.wow.slideInLeft
                p 
                    span Like what you see? 
                    | Get this great theme now!

            .features__btn.wow.slideInRight
                a.btn.btn-submain(href="#") View Features
                a.btn.btn-main(href="#") Download Now
