footer#footer.footer
    .container
        .footer__social-links
            ul.footer__social
                li.footer__link
                    a.fa.fa-behance.mr-3
                li.footer__link
                    a.fa.fa-dribbble.mr-3
                li.footer__link
                    a.fa.fa-twitter.mr-3
                li.footer__link
                    a.fa.fa-facebook.mr-3
                li.footer__link
                    a.fa.fa-linkedin
            
        .footer__copy
            p.footer__text
                | copyright © 2014 lucid onepage theme