header#header.header
        include _navbar.pug
        
        .container
            .header-first
                .row
                    .col-lg-6
                        .header-text.wow.fadeInUp
                            h3.mb-3 introducing lucid theme
                            h1.mb-3 Carefully crafted and beautiful landing page.
                            p.mb-3 
                                | Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, 
                                | at elementum magna ultricies accumsan. Cras venenatis 
                                | lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.
                            .header-btn
                                a.btn.btn-main(href="#") Download now
                                a.btn.btn-submain(href="#") View features

                    .col-lg-6
                        .header-img.wow.fadeInLeft
                            img(src="img/devices-header.png", alt="")