#list-features.list-features
    .container
        .list-features__inner
            .list-features__header.text-center.wow.fadeInUp
                h4 product overview
                h2 List of amazing features
                .lines
                    div
                    div
            .row
                .col-sm-6.col-lg-3
                    .features-card.wow.fadeInUp(data-wow-duration='1s')
                        .features-circle
                            img(src="img/features-list/monitor.png", alt="")
                        h3 Responsive
                        p 
                            | Fusce fermentum placerat magna 
                            | ac pharetra. Aliquam euismod elit 
                            | non ipsum lacinia consectetur. 
                .col-sm-6.col-lg-3
                    .features-card.wow.fadeInUp(data-wow-duration='2s')
                        .features-circle
                            img(src="img/features-list/settings.png", alt="")
                        h3 Customizable
                        p 
                            | Fusce fermentum placerat magna 
                            | ac pharetra. Aliquam euismod elit 
                            | non ipsum lacinia consectetur. 
                .col-sm-6.col-lg-3
                    .features-card.wow.fadeInUp(data-wow-duration='2.5s')
                        .features-circle
                            img(src="img/features-list/Like.png", alt="")
                        h3 Lovely Design
                        p 
                            | Fusce fermentum placerat magna 
                            | ac pharetra. Aliquam euismod elit 
                            | non ipsum lacinia consectetur. 
                .col-sm-6.col-lg-3
                    .features-card.wow.fadeInUp(data-wow-duration='3s')
                        .features-circle
                            img(src="img/features-list/Phone.png", alt="")
                        h3 Mobile Friendly
                        p 
                            | Fusce fermentum placerat magna 
                            | ac pharetra. Aliquam euismod elit 
                            | non ipsum lacinia consectetur. 