#list-features-article.list-features-article
    .article-block
        .container
            .list-features-article__inner
                .row
                    .col-lg-6 
                        img.wow.slideInUp(src="img/devices.png", alt="", width="100%", data-wow-duration='2s')

                    .col-lg-5.offset-lg-1
                        .content-article.pt-65.wow.slideInRight(data-wow-duration='2s')
                            .list-features__header
                                h4 dip into the details
                                h2 Beautiful on every device
                                .lines
                                    div
                                    div
                            
                            .list-feautures__text
                                p
                                    | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                                    | Morbi accumsan ipsum velit.
                                    | Nam nec tellus a odio tincidunt auctor a ornare odio. 
                                    | Sed non mauris vitae erat consequat auctor eu in elit.
                            .list-features__list
                                ul
                                    li
                                        .img-icon
                                            img(src="img/list-article/cup.png", alt="")
                                        p
                                            | Awesome design
                                    li
                                        .img-icon
                                            img(src="img/list-article/mouse.png", alt="")
                                        p
                                            | Fully responsive 
                                    li
                                        .img-icon
                                            img(src="img/list-article/energy.png", alt="")
                                        p 
                                            | Retina ready
                                    li
                                        .img-icon
                                            img(src="img/list-article/speedometer.png", alt="")
                                        p
                                            | Tons of features and easy to use




    .article-block
        .container
            .list-features-article__inner
                .row.d-flex.align-items-center
                    .col-lg-5
                        .content-article.wow.slideInRight(data-wow-duration='2s')
                            .list-features__header
                                h4 dip into the details
                                h2 Super easy to customize
                                .lines
                                    div
                                    div
                            
                            .list-feautures__text
                                p
                                    | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. 
                                    | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. 
                                    | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                    .col-lg-7
                        img.wow.slideInUp(src="img/iphone5.png", alt="", width="100%", data-wow-duration='2s')
