#pricing.pricing 
    .container
        .pricing__inner
            .pricing-header.text-center.wow.slideInUp
                h4 quality has its price
                h2 Pricings & Plans
                .lines
                    div
                    div

            .pricing__cards
                .row
                    .col-sm-6.col-lg-3
                        .card.wow.slideInUp(data-wow-duration='1s')
                            .card-header
                                h3.text-center 
                                    | Free
                            .card-body 
                                p.price.text-center
                                    span $ 
                                    | 0
                                p.date.text-center
                                    | /per month
                            .card-footer
                                p.text-center
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum 
                                    span.accent-text 
                                        | lacinia 
                                    | consectetur.

                                a.btn.btn-order(href="#") Order now
                

                    .col-sm-6.col-lg-3
                        .card.wow.slideInUp(data-wow-duration='2s')
                            .card-header
                                h3.text-center 
                                    | Personal
                            .card-body 
                                p.price.text-center
                                    span $ 
                                    | 25
                                p.date.text-center
                                    | /per month
                            .card-footer
                                p.text-center
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum 
                                    span.accent-text 
                                        | lacinia 
                                    | consectetur.

                                a.btn.btn-order(href="#") Order now


                    .col-sm-6.col-lg-3
                        .active-card
                            .card.wow.slideInUp(data-wow-duration='2.5s')
                                .card-header
                                    h3.text-center 
                                        | Business
                                .card-body 
                                    p.price.text-center
                                        span $ 
                                        | 50
                                    p.date.text-center
                                        | /per month
                                .card-footer
                                    p.text-center
                                        | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum 
                                        span.accent-text 
                                            | lacinia 
                                        | consectetur.

                                    a.btn.btn-order(href="#") Order now
                
                
                    .col-sm-6.col-lg-3
                        .card.wow.slideInUp(data-wow-duration='3s')
                            .card-header
                                h3.text-center 
                                    | Ultimate
                            .card-body 
                                p.price.text-center
                                    span $ 
                                    | 99
                                p.date.text-center
                                    | /per month
                            .card-footer
                                p.text-center
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum 
                                    span.accent-text 
                                        | lacinia 
                                    | consectetur.

                                a.btn.btn-order(href="#") Order now