#reviews.reviews
    .container
        .reviews__inner
            .reviews-header.text-center.wow.slideInUp
                h4 product overview
                h2 List of amazing features
                .lines
                    div
                    div


            //- Swiper
            .swiper.mySwiper
                .swiper-wrapper

                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img1.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | John Doe
                                        li.carousel-link
                                            span.carousel-p
                                                | CEO, THE RIVERS COMPANY
                    

                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img2.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | Dean Winchester
                                        li.carousel-link
                                            span.carousel-p
                                                | UX DESIGNER, GOOGLE INC.
                        
                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img1.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | John Doe
                                        li.carousel-link
                                            span.carousel-p
                                                | CEO, THE RIVERS COMPANY
                                        

                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img2.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | Dean Winchester
                                        li.carousel-link
                                            span.carousel-p
                                                | UX DESIGNER, GOOGLE INC.


                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img1.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | John Doe
                                        li.carousel-link
                                            span.carousel-p
                                                | CEO, THE RIVERS COMPANY
                    

                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img2.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | Dean Winchester
                                        li.carousel-link
                                            span.carousel-p
                                                | UX DESIGNER, GOOGLE INC.
                        
                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img1.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | John Doe
                                        li.carousel-link
                                            span.carousel-p
                                                | CEO, THE RIVERS COMPANY
                                        

                    .swiper-slide 

                        .carousel-card
                            .carousel__text
                                p
                                    | Once upon a time all the Rivers combined to protest against the action
                                    | of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            .carousel__autor
                                .carousel__img
                                    img(src="img/reviews/img2.png", alt="")
                                .carousel__autor-text
                                    ul
                                        li.carousel-link
                                            span.carousel-h3
                                                | Dean Winchester
                                        li.carousel-link
                                            span.carousel-p
                                                | UX DESIGNER, GOOGLE INC.




                .swiper-pagination
