//- bootstrap
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
//- Google Maps
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2_g_SOqOxL1nrJ-uLrKtO7nCdF6oYRg&callback=initMap&libraries=&v=weekly" async)
//- swiper
script(src="js/swiper.js")
script(src="js/wow.min.js")
script(src="js/main.js")

//- script(src="js/jquery/jquery.js")
//- script(src="js/jquery/popper.js")
//- script(src="js/bootstrap.js")